@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-figtree: var(--font-figtree);
  --font-outfit: var(--font-outfit);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

html {
  scroll-behavior: smooth;
  data-scroll-behavior: "smooth";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-figtree);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}